/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Press Start 2P', cursive;;
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}

.container {
  text-align: center;
  padding: 30px;
  background-color: #826e6e;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 90%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #ffffff;
  letter-spacing: 1px;
}

.video-box video {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
body {
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb);
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
  }
  
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  